.o-button {
  position: relative;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  outline: var(--color-highlight);
}

.o-button.-default {
  --color-light: #f0f0f0;

  padding: 6px;
  display: inline-block;
  background-color: var(--color-highlight);
  color: var(--color-light);
  font-weight: var(--font-weight-bold);
  font-size: to-rem(14);
  padding: 10px 20px;
  transition: background-color 0.2s ease;

  &:hover,
  &:focus {
    background-color: var(--color-highlight-darken);
  }
}

.o-button.-outline {
  --color-light: #f0f0f0;


  display: inline-block;
  border: 1px solid var(--color-highlight);
  color: var(--color-highlight);
  font-weight: var(--font-weight-bold);
  font-size: to-rem(14);
  padding: 9px 20px;
  transition: border-color 0.2s ease;

  &:hover,
  &:focus {
    border-color: var(--color-highlight-darken);
  }
}

.o-button.-choose-theme {
  width: 26px;
  height: 26px;
  display: inline-block;
  outline: 3px solid transparent;

  &:hover { outline-color: var(--color-light); }

  &.-theme1 { background-color: #4196eb; }
  &.-theme2 { background-color: #9566ff; }
  &.-theme3 { background-color: #ff6160; }
  &.-theme4 { background-color: #ffa730;  }
  &.-theme5 { background-color: #59db2a;  }
}

[data-theme="theme1"] .o-button.-choose-theme.-theme1 { outline-color: var(--color-light); }
[data-theme="theme2"] .o-button.-choose-theme.-theme2 { outline-color: var(--color-light); }
[data-theme="theme3"] .o-button.-choose-theme.-theme3 { outline-color: var(--color-light); }
[data-theme="theme4"] .o-button.-choose-theme.-theme4 { outline-color: var(--color-light); }
[data-theme="theme5"] .o-button.-choose-theme.-theme5 { outline-color: var(--color-light); }

@include respond-to(mobile) {
  .o-button.-default,
  .o-button.-outline {
    font-size: 14px;
  }

  .o-button.-choose-theme {
    width: 22px;
    height: 22px;
  }
}
