.o-icon {
  color: var(--color-highlight);
  width: 28px;
  height: 28px;
  cursor: pointer;

  &:hover {
    color: var(--color-light);
  }
}

[data-mode="light"] .o-icon.-light { color: var(--color-light); }
[data-mode="dark"] .o-icon.-dark { color: var(--color-light); }

@include respond-to(mobile) {
  .o-icon {
    width: 24px;
    height: 24px;
  }
}
