:root {
  --color-dark: #222;
  --color-light: #f0f0f0;
  --color-highlight: #4196eb;
  --color-highlight-darken: #368adf;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-black: 800;
  --font-family-highlight: 'Inconsolata', monospace;
  --font-family-common: 'Montserrat', sans-serif;
}
